#footer-links{
    text-decoration: none;
}
#footer-img{
    margin-top: 3%;
}
#footer-img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0.5;
}
#credit{
    text-decoration: none;
    color: white;
    transition: background .2s cubic-bezier(.33,.66,.66,1);
    border-bottom: 3px solid var(--randColor1);
}
#credit:hover{
    color: var(--bgColor);
    background-color: var(--randColor1);
}
#credits{
    display: inline;
    margin-top: -10%;
}
@media only screen and (max-width: 600px) {
    #credits{
        margin-top: -10%;
    }
}