:root {
    --nav-light:'';
}
#navbar-link{
    display:inline;
    color: white;
    transition: background .2s cubic-bezier(.33,.66,.66,1);
    border-bottom: 3px solid var(--nav-light);
}
#navbar-link:hover{
    color: #202124;
    background-color: var(--nav-light);
}
#navbar{
    display: inline;
    text-align: right;
}
a{
    text-decoration: none;
}
