/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bgColor);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 29, 29);
  }