
@import 
url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap');

h1{
    color:#ffffff;
    font-family: 'Noto Serif Display', serif;
    font-size: 6vw;
    margin-left: 40%;
    margin-top: -0.3%;
}
@media only screen and (max-width: 600px) {
h1{
    font-size: 20vw;
    margin-left: 15%;
    margin-top: 0%;
}
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 120px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.08);
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color:#000000
  }
  .card__para {
    grid-row: 4/6;
    font-weight: 200;
    color: #363636;
  }

  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#ffffff, #ffffff);
  }
  
  .card-2 {
    background: radial-gradient(#ffffff, #ffffff);
  }
  
  .card-3 {
    background: radial-gradient(#ffffff, #ffffff);
  }
  
  .card-4 {
    background: radial-gradient(#ffffff, #ffffff);
  }
  
  .card-5 {
    background: radial-gradient(#ffffff, #ffffff);
  }
  .card-6{
    background: radial-gradient(#ffffff, #ffffff);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }

h2{
    color:#2b2f38d3;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8vw;
    margin-top: -10%;
   
}
@media only screen and (max-width: 600px) {
h2{
    font-size: 8vw;
   
    margin-top: -27%;
}
}
p{
    color:rgba(43, 47, 56, 0.829);
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    margin-top:-1%;
}
@media only screen and (max-width: 600px) {
p{
    font-size: 4vw;
    margin-top: -6%;
}
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) #2e3135;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background:#221c1b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid #221c1b;
}  
/* 
Extra Background Img Links
https://www.linkpicture.com/q/istockphoto-1034202268-170667a.jpg      
*/

body {
	background: url(https://www.linkpicture.com/q/366-3664045_graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  backdrop-filter: blur(20px);
}
@media only screen and (max-width: 600px) {
  body{
    background-repeat: no-repeat;
    background-size: 700%;
    backdrop-filter: blur(30px); 
}
}

#type{
  color:#ffffff;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5vw;
  margin-left: 36%;
  margin-top: -4%;
}
@media only screen and (max-width: 600px) {
  #type{
      color:#ffffff;
      font-family: 'Roboto Mono', sans-serif;
      font-size: 5vw;
      margin-top: -4%;
      margin-left: 4vw;
}
}

a, a:hover, a:focus, a:active,a:visited {
  text-decoration: none;

}
a:hover {
  opacity: 0.3;
}

.projG{
 
  text-decoration: none;
  color:rgb(100, 82, 255);
}
.projL{
  
  text-decoration: none;
  color:rgb(255, 94, 73);
}
.code{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1vw;
  text-decoration: underline;
  color:#d3d3d3;
}
@media only screen and (max-width: 600px) {
  .code{
    font-size: 4vw;
  }
}

.copyright{
  color:#d3d3d3;
}
